body {
  background: linear-gradient(to bottom, #8B0000, #000000);
  
  color:white;
  background-size: cover;  /* Ensures it covers the full viewport */
  background-attachment: fixed; /* Prevents scrolling effect */
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

